torch==2.1.2
torchvision==0.16.2
triton==2.1.0
xformers==0.0.23.post1
ffmpeg==1.4
ffmpeg-python==0.2.0
decord==0.6.0
opencv-python==4.7.0.72
imageio==2.34.1
Pillow==9.4.0
PyYAML==6.0
einops==0.7.0
huggingface-hub==0.23.4
transformers==4.33.2
diffusers==0.25.0
accelerate==1.0.1
safetensors==0.4.3
peft==0.13.2
loralib==0.1.2
open-clip-torch==2.20.0
lpips==0.1.4
pyiqa==0.1.10
mmengine==0.10.5
mmcv==2.2.0
